<div class="card"  id="about">
  <div class="card-content">
    <h1 class="title is-4">About</h1>
    <div class="content">
      <h5>このサイトについて</h5>
      <p>エンジニアになろうと決めて
      <%= (Date.today.strftime('%Y%m%d').to_i - Date.parse("20180601").strftime('%Y%m%d').to_i) /1000 %>ヶ月が経ち、
      自分の事をまとめてみようと思いこのサイトを作りました。<br>
      BulmaとJavaScript、Railsを使いシンプルに仕上げることをコンセプトに作成しました。
      </p>
    </div>
  </div>
</div>
<div style="height:40px;"></div>