<!-- モーダル -->

<div class="modal">
  <div class="modal-inner" style="width: 70%; height: 85%;">
    <span data-modal-close><i class="fas fa-times"></i></span>
    <div class="modal-content" style="width: 70%;"></div>
  </div>
</div>

<div id="modal-1" style="display:none">
  <div>
    <h1 style="font-size: 30px; margin: 20px 0 20px 0;">バスケットボール</h1>
    <div style="display: inline-block; margin: 0 auto; text-align: left;">
      <p>週1ペースで知り合いのサークルでバスケットボールをしています。<br>
          ミニバス3年間から10年振りくらいですが楽しくプレイしています。<br>
          プレイする以外にもNBA観戦も好きです。<br>
          好きな選手はジェームス・ハーデンで、彼が所属しているヒューストン・ロケッツを応援しています。
      </p>
      <div style="margin-top: 20px; text-align: center;">
        <%= image_tag("image1.jpeg")%>
      </div>
    </div>
  </div>
</div>

<div id="modal-3" style="display:none">
  <div>
    <h1 style="font-size: 30px; margin: 20px 0 20px 0;">ギター</h1>
    <div style="display: inline-block; margin: 0 auto; text-align: left;">
      <p>ヒマな時に簡単な曲(パワーコードくらい)を弾いてます。<br>
          得意な曲はスピッツのさらさらです。<br>
          今練習している曲はポルカドットスティングレイのエレクトリック・パブリックです。
      </p>
    </div>
  </div>
  <div style="margin-top: 20px; text-align: center;">
      <img src="assets/image1.jpeg">
    </div>
  </div>
</div>

<div id="modal-4" style="display:none">
  <div>
    <h1 style="font-size: 30px; margin: 20px 0 20px 0;">音楽鑑賞</h1>
    <div style="display: inline-block; margin: 0 auto; text-align: left;">
      <p>洋楽、邦楽問わずロック系とアイドルをよく聞いています。<br>
          好きな洋楽のバンドはThe All American Rejects、BonJovi<br>
          邦楽はポルノグラフィティ、ポルカドットスティングレイ<br>
          アイドルはモーニング娘。19、アンジュルムが好きです。<br>
          今年の目標はMonster Bashに行くことです。
    </div>
  </div>
  <div style="margin-top: 20px; text-align: center;">
      <img src="http://www.monsterbash.jp/img/2019pre/og.jpg">
    </div>
  </div>
</div>

<div id="modal-5" style="display:none">
  <div>
    <h1 style="font-size: 30px; margin: 20px 0 20px 0;">特撮</h1>
    <div style="display: inline-block; margin: 0 auto; text-align: left;">
      <p>仮面ライダー(平成)が大好きです。<br>
          全ての作品に良さがあるので決め切れませんが、<br>
          デザインは仮面ライダーファイズ<br>
          ストーリーは仮面ライダーオーズ<br>
          主人公は五代雄介が好きです。
      </p>
    </div>
    <div style="margin-top: 20px; text-align: center;">
      <img src="https://www.toei.co.jp/release/movie/__icsFiles/afieldfile/2018/12/14/HGF_main600.jpg">
    </div>
  </div>
</div>