<div id="portfolio" style="height:40px;"></div>
<div class="card">
  <div class="card-content">
    <div class="content-header">
      <h1 class="title is-4">Portfolio</h1>
      <p>作成したポートフォリオ一覧です。</p>
    </div>
    <div class="content">
      <div class="content-items">
        <div class="item">
          <h5>Twitter風アプリ</h5>
          <section class="portfolio-image">
            <p>
              <%= image_tag("sampleapp.png") %>
            </p>
          </section>
          <p>
            URL: 
            <a href="https://young-ravine-12843.herokuapp.com" target="_blank">https://young-ravine-12843.herokuapp.com</a>
          </p>
          <p>
            勉強を初め最初に作ったアプリです。<br>
            音楽をテーマにTwitter風のアプリを作成しています。
          </p>
        </div>
      </div>
      <div class="content-items">
        <div class="item">
          <h5>thinking</h5>
          <section class="portfolio-image">
            <%= image_tag("http://mori-michi-ichiba.info/wp-content/uploads/2015/11/comingsoon.gif") %>
          </section>
          <p>
            作成中...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>