<!-- Profile -->
<div class="card" id="profile">
  <div class="card-content">
    <h3 class="title is-4">Profile</h3>

    <div class="content">
      <table class="table-profile">
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>Name:</td>
          <td>小貫 祐汰</td>
          <td></td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>M</td>
          <td></td>
        </tr>
        <tr>
          <td>Birth:</td>
          <td>1993/3/26</td>
          <td></td>
        </tr>
        <tr>
          <td>Age:</td>
          <td>25</td>
          <td></td>
        </tr>
        <tr>
          <td>Birth Place:</td>
          <td>千葉県</td>
          <td></td>
        </tr>
        <tr>
          <td style="width: 20%;">Hobby:</td>
          <td style="width: 20%;">
            <p>バスケットボール</p>
          </td>
          <td style="width: 60%;">
            <a class="button is-info" href="#modal-1" data-modal-open>more</a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p>野球</p>
          </td>
          <td>
            <a class="button is-info" href="#modal-2" data-modal-open>more</a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p>ギター</p>
          </td>
          <td>
            <a class="button is-info" href="#modal-3" data-modal-open>more</a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p>音楽鑑賞</p>
          </td>
          <td>
            <a class="button is-info" href="#modal-4" data-modal-open>more</a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p>特撮</p>
          </td>
          <td>
            <a class="button is-info" href="#modal-5" data-modal-open>more</a>
          </td>
        </tr>
        <tr>
          <th colspan="1"></th>
          <th colspan="1"></th>
        </tr>
      </table>
    </div>
    <div style="height: 40px;"></div>


    <!-- モーダル -->

    <div class="modal">
      <div class="modal-inner" style="width: 70%; height: 85%;">
        <span data-modal-close><i class="fas fa-times"></i></span>
        <div class="modal-content" style="width: 70%;"></div>
      </div>
    </div>

    <div id="modal-1" style="display:none">
      <div>
        <h1 style="font-size: 30px; margin: 20px 0 20px 0;">バスケットボール</h1>
        <div style="display: inline-block; margin: 0 auto; text-align: left;">
          <p>週1ペースで知り合いのサークルでバスケットボールをしています。<br>
             ミニバス3年間から10年振りくらいですが楽しくプレイしています。<br>
             プレイする以外にもNBA観戦も好きです。<br>
             好きな選手はジェームス・ハーデンで、彼が所属しているヒューストン・ロケッツを応援しています。
          </p>
          <div style="margin-top: 20px; text-align: center;">
            <img src="http://livedoor.blogimg.jp/marugoto_mijinko/imgs/e/f/ef4d6497.gif">
          </div>
        </div>
      </div>
    </div>

    <div id="modal-2" style="display:none">
      <div>
        <h1 style="font-size: 30px; margin: 20px 0 20px 0;">野球</h1>
        <div style="display: inline-block; margin: 0 auto; text-align: left;">
          <p>月2回くらいサークルでプレイしています。<br>
             ポジションはセカンドで、右投げ右打ちです。<br>
             好きなチームはヤクルトスワローズです。
          </p>
        </div>
        <div style="margin-top: 20px; text-align: center;">
          <img src="https://img.gifmagazine.net/gifmagazine/images/724170/original.gif">
        </div>
      </div>
    </div>

    <div id="modal-3" style="display:none">
      <div>
        <h1 style="font-size: 30px; margin: 20px 0 20px 0;">ギター</h1>
        <div style="display: inline-block; margin: 0 auto; text-align: left;">
          <p>ヒマな時に簡単な曲(パワーコードくらい)を弾いてます。<br>
             得意な曲はスピッツのさらさらです。<br>
             今はRed Hot Chili PeppersのSnowを練習中...
          </p>
        </div>
      </div>
      <div style="margin-top: 20px; text-align: center;">
          <img src="http://mori-michi-ichiba.info/wp-content/uploads/2015/11/comingsoon.gif">
        </div>
      </div>
    </div>

    <div id="modal-4" style="display:none">
      <div>
        <h1 style="font-size: 30px; margin: 20px 0 20px 0;">音楽鑑賞</h1>
        <div style="display: inline-block; margin: 0 auto; text-align: left;">
          <p>洋楽、邦楽問わずロック系とアイドルをよく聞いています。<br>
             好きな洋楽のバンドはThe All American Rejects<br>
             邦楽はポルノグラフィティ、ポルカドットスティングレイ<br>
             アイドルはハロプロ系が好きです。<br>
             今年の目標はMonster Bashに行くことです。
        </div>
      </div>
      <div style="margin-top: 20px; text-align: center;">
          <img src="http://www.monsterbash.jp/img/2019pre/og.jpg">
        </div>
      </div>
    </div>

    <div id="modal-5" style="display:none">
      <div>
        <h1 style="font-size: 30px; margin: 20px 0 20px 0;">特撮</h1>
        <div style="display: inline-block; margin: 0 auto; text-align: left;">
          <p>仮面ライダー(平成)が大好きです。<br>
             全ての作品に良さがあるので決め切れませんが、<br>
             デザインは仮面ライダーファイズ<br>
             ストーリーは仮面ライダーオーズ<br>
             主人公は五代雄介が好きです。
          </p>
        </div>
        <div style="margin-top: 20px; text-align: center;">
          <img src="https://www.toei.co.jp/release/movie/__icsFiles/afieldfile/2018/12/14/HGF_main600.jpg">
        </div>
      </div>
    </div>

    <script>var modal = new VanillaModal.default();</script>