<!-- Profile -->
<div class="card">
  <div class="card-content">
    <h3 class="title is-4">Profile</h3>

    <div class="content">
      <table class="table-profile">
        <tr>
          <th colspan="1"></th>
          <th colspan="1"></th>
        </tr>
        <tr>
          <td>Name:</td>
          <td>小貫 祐汰</td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>M</td>
        </tr>
        <tr>
          <td>Age:</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Birth:</td>
          <td>1993/3/26</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>onu4648yu@gmail.com</td>
        </tr>
        <tr>
          <td>Hobby:</td>
          <td>バスケットボール</td>
        </tr>
        <tr>
          <td></td>
          <td>野球</td>
        </tr>
        <tr>
          <td></td>
          <td>ギター</td>
        </tr>
        <tr>
          <td></td>
          <td>音楽鑑賞</td>
        </tr>
        <tr>
          <td></td>
          <td>特撮鑑賞</td>
        </tr>
        <tr>
          <th colspan="1"></th>
          <th colspan="1"></th>
        </tr>
      </table>
    </div>
    <br>
    <div class="buttons has-addons is-centered">
      <a href="#" class="button is-link">Github</a>
    </div>
  </div>
</div>