<div id="carrer"></div>
<div class="card" style="margin-top: 50px;">
  <div class="card-content">
    <h1 class="title is-4">Work</h1>
    <ul id='timeline'>
      <li class='work'>
        <input class='radio' id='work6' name='works' type='radio' checked>
        <div class="relative">
          <label class="timeline-label" for='work6'>QR決済システム&機材管理システムバージョンアップ案件(インターン)</label>
          <span class='date'>2019年1月<br>〜2019年3月</span>
          <span class='circle'></span>
        </div>
        <div class='timeline-content'>
          <p>
            QR決済システムの開発にテスターとして携わりました。<br>
            Go言語やMongo DBなどの比較的新しい技術に触れることができ、とても刺激になりました。<br>
            上記案件と並行作業で機材管理システムのレスポンシブ対応のバージョンアップ案件に携わりました。
          </p>
        </div>
      </li>
      <li class='work'>
        <input class='radio' id='work5' name='works' type='radio' checked>
        <div class="relative">
          <label class="timeline-label" for='work5'>保険申し込みシステム&機材管理システム改修(インターン)</label>
          <span class='date'>2018年12月</span>
          <span class='circle'></span>
        </div>
        <div class='timeline-content'>
          <p>
            保険申し込みシステムの開発にテスターとして携わりました。<br>
            また、並行作業で平日、帰宅後と休日の時間を使い機材管理システムの改修作業をインターンで行いました。<br>
            作業はファイルのインポート機能の実装、機材マスター画面の作成を担当しました。<br>
          </p>
        </div>
      </li>
      <li class='work'>
        <input class='radio' id='work4' name='works' type='radio'>
        <div class="relative">
          <label class="timeline-label" for='work4'>人事採用システム</label>
          <span class='date'>2018年11月</span>
          <span class='circle'></span>
        </div>
        <div class='timeline-content'>
          <p>
            自社内用の人事採用システムの開発に携わりました。<br>
            テスター業務とUIの修正を行いました。<br>
            Laravelを用いた開発で、Railsと違うフレームワークに触れることができ良い経験になりました。
          </p>
        </div>
      </li>
      <li class='work'>
        <input class='radio' id='work3' name='works' type='radio'>
        <div class="relative">
          <label class="timeline-label" for='work3'>プログラミング独学&勤怠管理システム(インターン)</label>
          <span class='date'>2018年7月<br>〜2018年10月</span>
          <span class='circle'></span>
        </div>
        <div class='timeline-content'>
          <p>
            転職を考えていた時、プログラマーをしている高校時代の先輩に再開しました。<br>
            話しをしているとIT業界は成長著しい反面、プログラマーの数が足りていないということを言っていました。<br>
            最初は、プログラミングは理系の大学をでた人がやるものだと思っていましたが先輩にやる気があるなら文系でもプログラマーになれると言われました。<br>
            その言葉を聞いて、このまま納得のいかないまま日々を過ごすよりも、自分の人生を変えたいと決意をしてプログラミングの学習をはじめました。<br>
            学習内容は、プロゲートでRuby、HTML、CSS、JavaScriptを学習した後、RailsチュートリアルでRuby on Railsを使いTwitter風のアプリを作成しました。<br>
            その後、勤怠管理システムにインターンとして参画をし、バックエンドからフロントエンドまで全体的な作業を経験させてもらいました。
          </p>
        </div>
      </li>
      <li class='work'>
        <input class='radio' id='work2' name='works' type='radio'>
        <div class="relative">
          <label class="timeline-label" for='work2'>医療系営業職</label>
          <span class='date'>2016年7月<br>〜2018年8月</span>
          <span class='circle'></span>
        </div>
        <div class='timeline-content'>
          <p>
            検体検査会社の営業職として働きました。<br>
            売り上げ管理、得意先との折衝、検体回収を行いました。<br>
          </p>
        </div>
      </li>
      <li class='work'>
        <input class='radio' id='work1' name='works' type='radio'>
        <div class="relative">
          <label class="timeline-label" for='work1'>電気工事士</label>
          <span class='date'>2012年4月<br>〜2016年3月</span>
          <span class='circle'></span>
        </div>
        <div class='timeline-content'>
          <p>
            専門学校卒業後、電気工事店で作業員として働きました。<br>
            施工図の作成、配管、配線等を行いました。<br>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>