<div class="box media">
  <div class="media-content">
    <div class="content">
      <ul class="timeline">
        <li>
        <p class="timeline-date" onclick="openTimeline(1);">2012年4月〜2016年3月</p>
        <div class="timeline-content">
          <div class="hidden-timeline" id="OpenTimeline1">
            <p><strong>電気工事士</strong></p>
            <p>専門学校卒業後、電気工事店で作業員として働きました。<br>
              施工図の作成、配管、配線等を行いました。<br>
              その後、年齢を重ねた際の体力面に不安を覚え、退職をしました。
            </p>
            <p class="close-timeline" onclick="closeTimeline(1)">close</p>
          </div>
        </div>
        </li>
        <li>
          <p class="timeline-date" onclick="openTimeline(2);">2016年7月〜2018年8月</p>
          <div class="timeline-content">
            <div class="hidden-timeline" id="OpenTimeline2">
              <p><strong>医療系営業職</strong></p>
              <p>検体検査会社の営業職として働きました。<br>
                得意先との折衝、検体回収を行いました。<br>
                給与面と勤務時間の長さで折り合いがつかず、退職をしました。
              </p>
              <p class="close-timeline" onclick="closeTimeline(2)">close</p>
            </div>
          </div>
        </li>
        <li>
          <p class="timeline-date" onclick="openTimeline(3);">2018年11月</p>
          <div class="timeline-content">
            <div class="hidden-timeline" id="OpenTimeline3">
              <p><strong>人事採用システム</strong></p>
              <p>自社内用の人事採用システムの開発に携わりました。<br>
                主に、テスター業務とUIの修正を行いました。<br>
                初めての現場ということもあり、わからないことが多かったですが、<br>
                改めて、開発に携わり作ることの楽しさを認識することができました。
              </p>
              <p class="close-timeline" onclick="closeTimeline(3)">close</p>
            </div>
          </div>
        </li>
        <li>
        <p class="timeline-date" onclick="openTimeline(4);">2018年12月</p>
          <div class="timeline-content">
            <div class="hidden-timeline" id="OpenTimeline4">
              <p><strong>保険申し込みシステム</strong></p>
              <p>保険申し込みシステムの開発に携わりました。<br>
                 テスターとして常駐をしました。<br>
              </p>
              <p class="close-timeline" onclick="closeTimeline(4)">close</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>