<!--<div>
  <ul class="timeline">
    <li>
    <p class="timeline-date">2012年4月〜2016年3月</p>
    <div class="timeline-content">
      <p class="timeline-thema" onclick="openTimeline(1);"><strong>電気工事士</strong></p>
      <div class="hidden-timeline" id="OpenTimeline1">
        <p>専門学校卒業後、電気工事店で作業員として働きました。<br>
            施工図の作成、配管、配線等を行いました。<br>
            その後、年齢を重ねた際の体力面に不安を覚え、退職をしました。
        </p>
        <p class="close-timeline" onclick="closeTimeline(1)">close</p>
      </div>
    </div>
    </li>
    <li>
      <p class="timeline-date">2016年7月〜2018年8月</p>
      <div class="timeline-content">
        <p class="timeline-thema" onclick="openTimeline(2);"><strong>医療系営業職</strong></p>
        <div class="hidden-timeline" id="OpenTimeline2">
          <p>検体検査会社の営業職として働きました。<br>
              得意先との折衝、検体回収を行いました。<br>
              給与面と勤務時間の長さで折り合いがつかず、退職をしました。
          </p>
          <p class="close-timeline" onclick="closeTimeline(2)">close</p>
        </div>
      </div>
    </li>
    <li>
      <p class="timeline-date">2016年9月〜2018年10月</p>
      <div class="timeline-content">
        <p class="timeline-thema" onclick="openTimeline(3);"><strong>プログラミング独学</strong></p>
        <div class="hidden-timeline" id="OpenTimeline3">
          <p>転職を考えていた時、プログラマーをしている高校時代の先輩に再開しました。<br>
              話しを聞いていると、IT業界は成長著しい反面、プログラマーの数が足りていないということを聞きました。<br>
              最初は、プログラミングは理系の大学をでた人がやるものだと思っていましたが、<br>
              先輩にやる気があるなら文系でもプログラマーになれると言われました。<br>
              その言葉を聞いて、このまま納得のいかないまま日々を過ごすよりも、<br>
              自分の人生を変えたいと決意をしてプログラミングの学習をはじめました。<br>
              学習内容は、プロゲートでRuby、HTML、CSS、JavaScriptを学習した後、<br>
              RailsチュートリアルでRuby on Railsを使いTwitter風のアプリを作成しました。
          </p>
          <p class="close-timeline" onclick="closeTimeline(3)">close</p>
        </div>
      </div>
    </li>
    <li>
      <p class="timeline-date">2018年11月</p>
      <div class="timeline-content">
        <p class="timeline-thema" onclick="openTimeline(4);"><strong>人事採用システム</strong></p>
        <div class="hidden-timeline" id="OpenTimeline4">
          <p>自社内用の人事採用システムの開発に携わりました。<br>
            主に、テスター業務とUIの修正を行いました。<br>
            初めての現場ということもあり、わからないことだらけで、<br>
            独学で行う学習と現場でのタスクは全然違うものなんだと体感をしました。<br>
            独学で学習している中では得ることのできない共同開発の経験や<br>
            仕事としてプログラミングをするという意識を強めることができました。<br>
            また、Laravelを用いた開発だったので、Railsと違うフレームワークに<br>
            触れることができたのは良い体験になりました。
          </p>
          <p class="close-timeline" onclick="closeTimeline(4)">close</p>
        </div>
      </div>
    </li>
    <li>
    <p class="timeline-date">2018年12月</p>
      <div class="timeline-content">
        <p class="timeline-thema" onclick="openTimeline(5);"><strong>保険申し込みシステム&機材管理システム改修(インターン)</strong></p>
        <div class="hidden-timeline" id="OpenTimeline5">
          <p>保険申し込みシステムの開発にテスターとして携わりました。<br>
              作業内容は、申し込み画面、バッチの動作確認を行いました。<br>
              前回の人事採用システムのテストと違い、識別子によって細かい分岐があり<br>
              大変でしたが、識別子を変えることで様々なバリエーションにすることができることが勉強になりました。<br>
              また、並行作業で平日、帰宅後と休日の時間を使い機材管理システムの改修作業をインターンで行いました。<br>
              作業はXlsx形式のファイルのインポート機能の実装、機材マスター画面の作成を担当しました。<br>
              この現場では、プログラマーとして対応力が大切だと学びました。<br>
              納期3日前に仕様変更で読み込みファイル形式が変わり、対応をすることになりました。<br>
              その際に、どの部分を生かしたままにでき、どの部分に変更箇所を反映させるか<br>
              冷静に考え作業をしなければいけないと実感しました。
          </p>
          <p class="close-timeline" onclick="closeTimeline(5)">close</p>
        </div>
      </div>
    </li>
    <li>
    <p class="timeline-date">2019年1月〜3月</p>
      <div class="timeline-content">
        <p class="timeline-thema" onclick="openTimeline(6);"><strong>QR決済システム</strong></p>
        <div class="hidden-timeline" id="OpenTimeline6">
          <p>QR決済システムの開発にテスターとして携わりました。<br>
          </p>
          <p class="close-timeline" onclick="closeTimeline(6)">close</p>
        </div>
      </div>
    </li>
  </ul>
</div>-->

<div>
  <ul class="timeline">
    <li>
    <p class="timeline-date">2012年4月〜2016年3月</p>
    <div class="timeline-content">
      <p class="timeline-thema" onclick="openTimeline(1);"><strong>電気工事士</strong></p>
      <div class="hidden-timeline" id="OpenTimeline1">
        <p>専門学校卒業後、電気工事店で作業員として働きました。<br>
            施工図の作成、配管、配線等を行いました。<br>
            その後、年齢を重ねた際の体力面に不安を覚え、退職をしました。
        </p>
        <p class="close-timeline" onclick="closeTimeline(1)">close</p>
      </div>
    </div>
    </li>
    <li>
      <p class="timeline-date">2016年7月〜2018年8月</p>
      <div class="timeline-content">
        <p class="timeline-thema" onclick="openTimeline(2);"><strong>医療系営業職</strong></p>
        <div class="hidden-timeline" id="OpenTimeline2">
          <p>検体検査会社の営業職として働きました。<br>
              得意先との折衝、検体回収を行いました。<br>
              給与面と勤務時間の長さで折り合いがつかず、退職をしました。
          </p>
          <p class="close-timeline" onclick="closeTimeline(2)">close</p>
        </div>
      </div>
    </li>
    <li>
      <p class="timeline-date">2016年9月〜2018年10月</p>
      <div class="timeline-content">
        <p class="timeline-thema" onclick="openTimeline(3);"><strong>プログラミング独学</strong></p>
        <div class="hidden-timeline" id="OpenTimeline3">
          <p>転職を考えていた時、プログラマーをしている高校時代の先輩に再開しました。<br>
              話しを聞いていると、IT業界は成長著しい反面、プログラマーの数が足りていないということを聞きました。<br>
              最初は、プログラミングは理系の大学をでた人がやるものだと思っていましたが、<br>
              先輩にやる気があるなら文系でもプログラマーになれると言われました。<br>
              その言葉を聞いて、このまま納得のいかないまま日々を過ごすよりも、<br>
              自分の人生を変えたいと決意をしてプログラミングの学習をはじめました。<br>
              学習内容は、プロゲートでRuby、HTML、CSS、JavaScriptを学習した後、<br>
              RailsチュートリアルでRuby on Railsを使いTwitter風のアプリを作成しました。
          </p>
          <p class="close-timeline" onclick="closeTimeline(3)">close</p>
        </div>
      </div>
    </li>
    <li>
      <p class="timeline-date">2018年11月</p>
      <div class="timeline-content">
        <p class="timeline-thema" onclick="openTimeline(4);"><strong>人事採用システム</strong></p>
        <div class="hidden-timeline" id="OpenTimeline4">
          <p>自社内用の人事採用システムの開発に携わりました。<br>
            主に、テスター業務とUIの修正を行いました。<br>
            初めての現場ということもあり、わからないことだらけで、<br>
            独学で行う学習と現場でのタスクは全然違うものなんだと体感をしました。<br>
            独学で学習している中では得ることのできない共同開発の経験や<br>
            仕事としてプログラミングをするという意識を強めることができました。<br>
            また、Laravelを用いた開発だったので、Railsと違うフレームワークに<br>
            触れることができたのは良い体験になりました。
          </p>
          <p class="close-timeline" onclick="closeTimeline(4)">close</p>
        </div>
      </div>
    </li>
    <li>
    <p class="timeline-date">2018年12月</p>
      <div class="timeline-content">
        <p class="timeline-thema" onclick="openTimeline(5);"><strong>保険申し込みシステム&機材管理システム改修(インターン)</strong></p>
        <div class="hidden-timeline" id="OpenTimeline5">
          <p>保険申し込みシステムの開発にテスターとして携わりました。<br>
              作業内容は、申し込み画面、バッチの動作確認を行いました。<br>
              前回の人事採用システムのテストと違い、識別子によって細かい分岐があり<br>
              大変でしたが、識別子を変えることで様々なバリエーションにすることができることが勉強になりました。<br>
              また、並行作業で平日、帰宅後と休日の時間を使い機材管理システムの改修作業をインターンで行いました。<br>
              作業はXlsx形式のファイルのインポート機能の実装、機材マスター画面の作成を担当しました。<br>
              この現場では、プログラマーとして対応力が大切だと学びました。<br>
              納期3日前に仕様変更で読み込みファイル形式が変わり、対応をすることになりました。<br>
              その際に、どの部分を生かしたままにでき、どの部分に変更箇所を反映させるか<br>
              冷静に考え作業をしなければいけないと実感しました。
          </p>
          <p class="close-timeline" onclick="closeTimeline(5)">close</p>
        </div>
      </div>
    </li>
    <li>
    <p class="timeline-date">2019年1月〜3月</p>
      <div class="timeline-content">
        <p class="timeline-thema" onclick="openTimeline(6);"><strong>QR決済システム</strong></p>
        <div class="hidden-timeline" id="OpenTimeline6">
          <p>QR決済システムの開発にテスターとして携わりました。<br>
          </p>
          <p class="close-timeline" onclick="closeTimeline(6)">close</p>
        </div>
      </div>
    </li>
  </ul>
</div>