@charset "UTF-8";
/* 背景js */
/* line 7, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
#particles-js {
  position: relative;
  width: 100vw;
  /*overflow: hidden*/
}

/* 全体レイアウト */
/* line 14, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.columns {
  position: absolute;
  width: 90%;
  top: 15%;
  left: 5%;
}

/* line 21, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.card {
  border-radius: 10px;
}

/* プロフィールレイアウト */
/* line 27, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.table-profile p {
  display: inline;
}
/* line 30, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.table-profile a {
  margin-left: 10px;
}

/* モーダル */
/* line 37, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.modal {
  display: none;
}

/* line 41, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* line 60, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: center;
}

/* line 67, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

/* line 76, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

/* line 82, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.modal-inner {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}

/* line 96, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

/* line 103, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
[data-modal-close] {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 5px;
  right: 5px;
  width: 45px;
  height: 45px;
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  background: white;
}

/* timeline */
/* line 120, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #4a4a4a;
}
/* line 125, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
#timeline li {
  margin: 40px 0;
  position: relative;
}
/* line 129, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
#timeline p {
  margin: 0 0 15px;
}
/* line 132, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
#timeline input {
  display: none;
}

/* line 137, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

/* line 146, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  padding: 4px 4px;
  background: white;
  border: 5px solid #4a4a4a;
  border-radius: 50%;
  display: block;
  position: absolute;
}

/* line 160, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.timeline-content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
/* line 168, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.timeline-content:before, .timeline-content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
/* line 177, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.timeline-content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
/* line 183, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.timeline-content:after {
  border-right-color: #4a4a4a;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
/* line 189, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.timeline-content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

/* line 199, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.timeline-label {
  font-size: 1.3em;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 20px;
  left: 20px;
  transition: transform 0.2s linear;
}

/* line 211, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}
/* line 215, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.radio:checked + .relative .circle {
  background: #53a1eb;
}
/* line 219, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.radio:checked ~ .timeline-content {
  max-height: 100%;
  border-color: #4a4a4a;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.5s linear, border-color 0.5s linear, transform 0.5s linear;
}
/* line 225, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.radio:checked ~ .timeline-content p {
  max-height: 100%;
  color: #4a4a4a;
  overflow: scroll;
  transition: color 0.5s linear 0.5s;
}

/* タイムラインレスポンシブ */
/* ポートフォリオレイアウト */
/* line 285, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.content-header {
  margin-bottom: 24px;
}

/* line 288, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.content {
  overflow: hidden;
  margin-bottom: 40px;
}
/* line 291, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.content .content-items {
  width: 50%;
  float: left;
}
/* line 295, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.content .item {
  margin: 30px;
}

/* WindowsOS対応 */
/* line 301, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.win {
  /* Windows (全バージョン)のみ */
}
/* line 303, /Users/onukiyuuta/portfolio/profile/app/assets/stylesheets/custom.scss */
.win .timeline-content {
  overflow: hidden;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

