#particles-js{
  position: relative;
  width: 100vw;
  height: 1600px;
  overflow: hidden
}
.columns{
  position: absolute;
  width:90%;
  top: 5%;
  left: 5%;
}
.timeline{
  list-style: none !important;
  .timeline-date{
    width: 20%;
    margin-right: 15px;
    float: left;
  }
  .timeline-content{
    border-left: 5px rgba(0, 0, 0, 0.5) solid;
    width: 70%;
    float: left;
    position: relative;
    border-image: linear-gradient(90deg, #fc6076 33%, #ff9a44 66%);
    border-image-slice: 1;
    p{
      margin: 15px 0 15px 15px;
    }
    .timeline-thema{
      width: 30%;
      margin-left: 50px;
      strong{
        cursor: pointer;
      }
    }
    .hidden-timeline{
      display: none;
      .close-timeline{
        display: inline-block;
        margin-top: 0;
      }
      .close-timeline:hover{
        cursor: pointer;
      }
      p{
        margin-left: 100px;
      }
    }
  }
}
.timeline-content:before{
  content: "\2022";
  color: rgb(25,25,255,);
  font-size: 50px;
  position: absolute;
  left: -13px;
}
.basketball, .baseball, .guiter, .music, .sfx{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.basketball.show-hobby .baseball.show-hobby .guiter.show-hobby .music.show-hobby .sfx.show-hobby{
  opacity: 1;
  visibility: visible;
}
.hobby-inner{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.close-btn{
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  i {
    font-size: 20px;
    color: #333;
  }
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}

.modal {
  display: none;
}

.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: center;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}
.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

[data-modal-close] {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.2);
}