#particles-js{
  position: relative;
  width: 100vw;
  height: 2600px;
  overflow: hidden
}
.columns{
  position: absolute;
  width:90%;
  top: 5%;
  left: 5%;
}
//.timeline{
//  list-style: none !important;
//  .timeline-date{
//    width: 20%;
//    margin-right: 15px;
//    float: left;
//  }
//  .timeline-content{
//    border-left: 5px rgba(0, 0, 0, 0.5) solid;
//    width: 70%;
//    float: left;
//    position: relative;
//    border-image: linear-gradient(90deg, #4a4a4a 33%, #4a4a4a 66%);
//    border-image-slice: 1;
//    p{
//      margin: 15px 0 15px 15px;
//    }
//    .timeline-thema{
//      width: 30%;
//      margin-left: 50px;
//      strong{
//        cursor: pointer;
//      }
//    }
//    .hidden-timeline{
//      display: none;
//      .close-timeline{
//        display: inline-block;
//        margin-top: 0;
//      }
//      .close-timeline:hover{
//        cursor: pointer;
//      }
//      p{
//        margin-left: 100px;
//      }
//    }
//  }
//}
//.timeline-content:before{
//  content: "";
//    position: absolute;
//    top: 5px;
//    left: -11px;
//    border-radius: 100%;
//    border: 2px solid #4a4a4a;
//    background-color: white;
//    padding: 6px 6px;
//}

.modal {
  display: none;
}

.table-profile{
  p{
    display: inline;
  }
  a{
    margin-left: 10px;
  }
}
.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: center;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}
.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

[data-modal-close] {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.2);
}

$bg: white;
$black: #4a4a4a;
$blue: #53a1eb;



/* timeline */

#timeline{
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid $black;
  li{
    margin: 40px 0;
    position: relative;
  }
  p{
    margin: 0 0 15px;
  }
  input{
    display: none;
  }
}
.date{
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}
.circle{
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  padding: 4px 4px;
  background: $bg;
  border: 5px solid $black;
  border-radius: 50%;
  display: block;
  position: absolute;
}
.timeline-content{
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
  &:before, &:after{
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
  }
  &:before{
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }
  &:after{
    border-right-color: $black;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
  }
  p{
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
  }
}
.timeline-label{
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  left: 20px;
  transition: transform 0.2s linear;
}
.radio:checked{
  & + .relative{
    label{
      cursor: auto;
      transform: translateX(42px);
    }
    .circle{
      background: $blue;
    }
  }
  & ~ .timeline-content{
    max-height: 100%;
    border-color: $black;
    margin-right: 20px;
    transform: translateX(20px);
    transition: max-height 0.5s linear, border-color 0.5s linear, transform 0.5s linear;
    p{
      max-height: 100%;
      color: $black;
      overflow: scroll;
      transition: color 0.5s linear 0.5s;
    }
  }
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
//@media screen and (max-width: 767px){
//  #timeline{
//    margin-left: 0;
//    padding-left: 0;
//    border-left: none;
//    li{
//      margin: 50px 0;
//    }
//  }
//  label{
//    width: 85%;
//    font-size: 1.1em;
//    white-space: nowrap;
//    text-overflow: ellipsis;
//    overflow: hidden;
//    display: block;
//    transform: translateX(18px);
//  }
//  .content{
//    padding-top: 45px;
//    border-color: $white;
//    &:before, &:after{
//      border: solid transparent;
//      bottom: 100%;
//    }
//    &:before{
//      border-bottom-color: inherit;
//      border-width: 17px;
//      top: -16px;
//      left: 50px;
//      margin-left: -17px;
//    }
//    &:after{
//      border-bottom-color: $bg;
//      border-width: 20px;
//      top: -20px;
//      left: 50px;
//      margin-left: -20px;
//    }
//    p{
//      font-size: 0.9em;
//      line-height: 1.4;
//    }
//  }
//  .circle, .date{
//    display: none;
//  }
//}