<nav class="navbar is-light is-fixed-top" id="header">
  <div class="navbar-menu">
    <a class="navbar-item" href="#about">
      <span class="icon">
        <i class="fas fa-info-circle"></i>
      </span>
      About
    </a>
    <a class="navbar-item" href="#profile">
      <span class="icon">
        <i class="fas fa-user-circle"></i>
      </span>
      Profile
    </a>
    <a class="navbar-item" href="#carrer">
      <span class="icon">
        <i class="fab fa-black-tie"></i>
      </span>
      Work
    </a>
    <a class="navbar-item" href="#portfolio">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
      Portfolio
    </a>
  </div>
</nav>